<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须与Mapper接口全类名一致 -->
<mapper namespace="org.example.Demo.mapper.PositionMapper">
    <insert id="insert">
            INSERT INTO position (
            user_id, position_name, identity_name, description,
            create_time, create_user, update_time, update_user,
            create_user_name, update_user_name
            ) VALUES (
            #{userId}, #{positionName}, #{identityName}, #{description},
            #{createTime}, #{createUser}, #{updateTime}, #{updateUser},
            #{createUserName}, #{updateUserName}
            )
        </insert>
    <update id="updateUserPosition">
        update position
        <set>
            position_name=#{positionName},
            identity_name=#{identityName},
            description=#{description}
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <select id="pageUserPosition" resultType="org.example.Demo.VO.PositionVO.PositionPageQueryVO">
        select position.*,user.name,user.user_name,user_type_enum,user.number,user.number,user.mobile,user.mail,user.password,user.sex_enum,user.status_enum
        from position
        LEFT JOIN user
        ON position.user_id=user.id
        <where>
            <if test="name != null">
                position.name=#{name}
            </if>
            <if test="positionName != null">
                and position.position_name like concat("%",#{positionName},"%")
            </if>
            <if test="positionName != null">
                and position.position_identity_name like concat("%",#{identityName},"%")
            </if>
            <if test="description != null">
                and position.description like concat("%",#{description},"%")
            </if>
        </where>
    </select>
</mapper>