<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须与Mapper接口全类名一致 -->
<mapper namespace="org.example.Demo.mapper.RoleMapper">
    <insert id="insertUserRole">
        INSERT INTO user_role_name (
        user_id, role_id,user_name, role_name, role_chinese_name,comment,
        create_time, create_user, update_time, update_user,
        create_user_name, update_user_name
        ) VALUES (
        #{userId},#{roleId}, #{userName}, #{roleName}, #{roleChineseName},#{comment},
        #{createTime}, #{createUser}, #{updateTime}, #{updateUser},
        #{createUserName}, #{updateUserName}
        )
    </insert>
    <update id="updateUserRole">
        update user_role
        <set>
            role_id=#{roleId}
        </set>
        <where>
            id=#{id}
        </where>
    </update>
    <select id="pageQueryRole" resultType="org.example.Demo.VO.roleVO.RolesListAllVO">
        select * from role
        <where>
            id
            <if test="chineseName!=null">
                and chinese_name like concat("%",
                #{chineseName},
                "%"
                )
            </if>
        </where>

    </select>
    <select id="pageQueryPrimaRole" resultType="org.example.Demo.VO.roleVO.RolesListAllVO">
        select * from role
        <where>
            prima = 1
            <if test="chineseName!=null">
                and chinese_name like concat("%",
                #{chineseName},
                "%"
                )
            </if>
        </where>

    </select>
    <select id="pageQuerySecondaryRole" resultType="org.example.Demo.VO.roleVO.RolesListAllVO">
        select * from role
        <where>
        prima = 0
        <if test="chineseName!=null">
            and chinese_name like concat("%",
            #{chineseName},
            "%"
            )
        </if>
        </where>
    </select>
    <select id="selectRoleName" resultType="java.lang.String">
        SELECT name
        FROM role
        WHERE id = #{roleId}
    </select>
    <select id="selectRoleChineseName" resultType="java.lang.String">
        SELECT chinese_name
        FROM role
        WHERE id = #{roleId}
    </select>
    <select id="selectComment" resultType="java.lang.String">
        SELECT comment
        FROM role
        WHERE id = #{roleId}
    </select>
</mapper>