<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须与Mapper接口全类名一致 -->
<mapper namespace="org.example.Demo.mapper.ScoreMapper">
    <insert id="batchInsertScore">
        INSERT INTO score (
        student_id,
        course_id,
        score,
        exam_type,
        semester_id,
        create_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.studentId},
            #{item.courseId},
            #{item.score},
            #{item.examType},
            #{item.semesterId},
            #{item.createTime}
            )
        </foreach>
    </insert>
    <update id="updateStudentScore">
        update score
        <set>
            <if test="score!=null">score=#{score}</if>
        </set>
        WHERE student_id = #{studentId}
        AND course_id = #{courseId}
        AND exam_type = #{examType}
    </update>
    <select id="pageScore" resultType="org.example.Demo.VO.Score.ScoreVO">
        select * from score
        <where>
            <if test="studentId!=null">student_id=#{studentId},</if>
            <if test="courseId!=null">course_id=#{courseId}</if>
        </where>
    </select>
    <select id="selectScoreForExcel" resultType="org.example.Demo.DTO.Score.ScoreExcelDTO">
        SELECT
        s.id,
        u.name            AS studentName,
        c.course_name     AS courseName,
        s.score,
        s.exam_type       AS examType,
        se.semester_name  AS semesterName,
        s.create_time
        FROM score s
        LEFT JOIN user u      ON s.student_id = u.id
        LEFT JOIN course c    ON s.course_id = c.id
        LEFT JOIN semester se ON s.semester_id = se.id
    </select>
    <select id="selectTeacherCourseClass" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM teacher_course
        <where>
            teacher_id = #{userId}
            AND course_id = #{courseId}
            AND class_id = #{classId}
        </where>
    </select>
    <select id="checkTeacherCourseClass" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM teacher_course
        WHERE teacher_id = #{userId}
        AND course_id = #{courseId}
        AND class_id = #{classId}
    </select>

    <select id="pageMyScore" resultType="org.example.Demo.VO.Score.MyScoreVO">
        SELECT
        s.id,
        s.student_id,
        s.course_id,
        s.score,
        s.exam_type,
        s.semester_id,
        s.create_time,
        c.course_name
        FROM score s
        LEFT JOIN course c ON s.course_id = c.id
        WHERE s.student_id = #{studentId}  <!-- 只查自己 -->
    </select>

<!--    <select id="pageClassStudentScoreForAdmin" resultType="org.example.Demo.VO.Score.ClassStudentScoreVO" parameterType="org.example.Demo.DTO.Score.PageQueryClassStudentScoreDTO">-->
<!--        SELECT-->
<!--        c.class_name,-->
<!--        s.student_id,-->
<!--        s.course_id,-->
<!--        s.score,-->
<!--        s.exam_type,-->
<!--        s.create_time-->
<!--        FROM score s-->
<!--        LEFT JOIN user u ON s.student_id = u.id-->
<!--        LEFT JOIN classes c ON u.class_id = c.id-->
<!--        <where>-->
<!--            <if test="className != null and className != ''">-->
<!--                AND c.class_name = #{className}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

    <select id="pageCLassStudentScore" resultType="org.example.Demo.VO.Score.ClassStudentScoreVO" parameterType="java.lang.Long">
        SELECT
        c.class_name,
        s.student_id,
        s.course_id,
        s.score,
        s.exam_type,
        s.create_time
        FROM score s
        JOIN `user` u ON s.student_id = u.id
        JOIN classes c ON u.class_id = c.id
        <where>
            <if test="userId != null">
                AND EXISTS (
                SELECT 1
                FROM teacher_course tc
                WHERE tc.teacher_id = #{userId}
                AND tc.class_id = c.id
                AND tc.course_id = s.course_id
                )
            </if>
        </where>
    </select>

    <select id="getClassAverageScore" resultType="org.example.Demo.VO.Score.ClassAvgVO">
        SELECT
        c.class_name AS className,
        AVG(s.score) AS avgScore,
        MAX(s.score) AS maxScore,
        MIN(s.score) AS minScore
        FROM score s
        JOIN `user` u ON s.student_id = u.id
        JOIN classes c ON u.class_id = c.id
        WHERE u.user_type_enum = 'STUDENT'
        GROUP BY c.id, c.class_name
        ORDER BY avgScore DESC
    </select>
</mapper>