<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须与Mapper接口全类名一致 -->
<mapper namespace="org.example.Demo.mapper.UserMapper">

    <select id="pageUserMessage" resultType="org.example.Demo.VO.User.userMessageVO">
        select * from user
        <where>
            <if test="name != null">
                AND user.name like concat("%",#{name},"%")
            </if>
        </where>
    </select>
    <select id="selectList" resultType="org.example.Demo.entity.User">
        select * from user
    </select>



    <update id="updateUserStatus" parameterType="org.example.Demo.DTO.User.UpdateUserStatus">
        UPDATE `user`
        SET status_enum = #{status}
        WHERE id = #{id}
    </update>
</mapper>