<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须与Mapper接口全类名一致 -->
<mapper namespace="org.example.Demo.mapper.WarehouseMapper">
    <update id="updateWarehouseManageApproval" parameterType="org.example.Demo.entity.Warehouse.WarehouseGoodsUser">
        update warehouse_goods_user
        <set>
            operation_status=#{operationStatus}
        </set>
        <where>
            id=#{id}
        </where>
    </update>
    <update id="updateWarehouseManageNoApproval" parameterType="org.example.Demo.entity.Warehouse.WarehouseGoodsUser">
        update warehouse_goods_user
        <set>
            operation_status=#{operationStatus}
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <delete id="deleteForeachWarehouse" parameterType="org.example.Demo.DTO.WarehouseDTO.DeleteForeachWarehouseDTO">
        DELETE FROM warehouse_goods_user
        WHERE id IN
        <foreach collection="id" item="item" open="(" separator="," close=")">
            #{item}  <!-- 遍历 List<Long> id 中的每个元素 -->
        </foreach>
    </delete>
    <delete id="deleteForeachWarehouseGoods" parameterType="org.example.Demo.DTO.WarehouseDTO.DeleteForeachWarehouseDTO">
        delete from warehouse_goods where id in
        <foreach collection="id" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
    <select id="pageWarehouse2"
            resultType="org.example.Demo.VO.Warehouse.WarehouseVO"
    >
        select * from warehouse
        <where>
            <if test="dto.id!=null">
            and    id=#{dto.id}
            </if>

            <if test="dto.name != null"> and name=#{dto.name}</if>
        </where>
    </select>
    <select id="pageUserManage" resultType="org.example.Demo.VO.Warehouse.WarehouseUserManageVO">
        select  warehouse_goods.*,warehouse_goods_user.quantity,warehouse_goods_user.operation_type,warehouse_goods_user.return_status,warehouse_goods_user.operation_status
        from warehouse_goods
        LEFT JOIN warehouse_goods_user
        ON warehouse_goods.id=warehouse_goods_user.warehouse_goods_id
        <where>
            <if test="id != null">
                warehouse_goods.id=#{id}
            </if>
            <if test="name != null">
                and warehouse_goods.name like concat("%",#{name},"%")
            </if>
        </where>
    </select>
    <select id="pageUserRecording" resultType="org.example.Demo.VO.Warehouse.WarehouseUserRecordingVO">
        select
        warehouse_goods_user.*,warehouse_goods.name,warehouse_goods.lent,warehouse_goods.direction,warehouse_goods.model,warehouse_goods.unit,warehouse_goods.goods_type
        from
        warehouse_goods_user,warehouse_goods
        <where>
            warehouse_goods.id=warehouse_goods_user.warehouse_goods_id
            <if test="use !=null">
                and warehouse_goods_user.use like concat ('%', #{use}, '%')
            </if>
            <if test="name !=null">
                and warehouse_goods.name like concat("%",#{name},"%")
            </if>
            <if test="operationStatus !=null">
                and warehouse_goods_user.operation_status=#{operationStatus}
            </if>
            <if test="quantity !=null">
                and warehouse_goods_user.quantity=#{quantity}
            </if>

            <if test="directionEnumList != null">
                and
                <foreach collection="directionEnumList" item="directionEnum" open="(" close=")" separator="or">
                    direction like concat("%",#{directionEnum},"%")
                </foreach>
            </if>
            <if test="operationType !=null">
                and warehouse_goods_user.operation_type=#{operationType}
            </if>
        </where>
    </select>
</mapper>